@font-face {
  font-family: 'Sansation';
  src: url('../assets/fonts/Sansation_Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Para o logo e o título manterem o tamanho normal */
.logo {
  max-width: 100%;
  height: auto; 
  max-height: 80px;
  margin-left: 15%;
}

.title {
  font-family: 'Sansation';
  font-size: 3.5em;  
  color: white;
}

/* Ajuste para quando a tela for pequena (quando o botão toggle aparecer) */
@media (max-width: 991px) {  /* Quando a tela for menor que 992px (tamanho de tablet ou celular) */
  .logo {
    max-height: 80px; 
  }
  .title {
    font-size: 3.5em;  
  }
}

/* Ajuste do navbar no mobile */
@media (max-width: 767px) {
  /* Nesse ponto, o logo e título ficam ainda menores para caber com o toggle */
  .logo {
    max-height: 40px; 
    margin-left: 1%;
  }
  .title {
    font-size: 2em;  
  }
}
